<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Thermostat</title>
</head>
<body>
	 <section>
	 	<h1 id='temperature'></h1>
	 	<p>

	 		<button id="temperature-up">Increase</button>
	 		<button id="temperature-down">Decrease</button>
	 		<button id="temperature-reset">reset</button>
	 		<button id="powersaving-switch">PSM switch</button>
			<button id='energy-usage'>Energy Usage</button>
	 	</p>
		<h4 id='savingmode' ></h4>
		<h4 id='energy' ></h4>
	 </section>
	 <script src="../src/jquery-3.2.1.min.js"></script>
	 <script src="../src/thermostat.js"></script>
	 <script type='text/javascript' src="./interactions.js"></script>

	 <div id="weather">
		 <h2>Current weather in <span id="city"></span></h2>
		 <h3 id="headline"></h3>
		 <p id="description"></p>
		 <p>Temperature: <span id="temp"></span></p>

		 <form>
			<select id="city">
				<option value="london">London</option>
				<option value="paris">Paris</option>
				<option value="rome">Rome</option>
				<option value="newyork">New York</option>
				<option value="sydney">Sydney</option>
				<option value="tokyo">Tokyo</option>
			</select>
		 </form>
	 </div>

</body>
</html>
